[Unit]
Description=Jenkins Client
Requires=systemd-hostnamed.service
After=cloud-config.service

[Service]
User={{ salt['pillar.get']('jenkins_user') }}
Type=simple
ExecStart=/usr/bin/java -jar /var/lib/jenkins/swarm/swarm-client.jar \
                              -master {{ salt['pillar.get']('swarm_jenkins_master_url') }} \
                              {%- if salt['pillar.get']('swarm_username') %}
                              -username {{ salt['pillar.get']('swarm_username') }} \
                              -password {{ salt['pillar.get']('swarm_password') }} \
                              {%- endif %}
                              {%- if salt['grains.get']('kernel') == 'Linux' %}
                              -labels linux \
                              {%- endif %}
                              -executors {{ salt['pillar.get']('swarm_executors_number') }} \
                              -fsroot {{ salt['pillar.get']('jenkins_home','/var/lib/jenkins') }}


Restart=on-failure
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
